/log/
.log/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
aopalliance/
asm/
avalon-framework/
backport-util-concurrent/
ch/
classworlds/
/com/
commons-beanutils/
commons-chain/
commons-codec/
commons-collections/
commons-digester/
commons-io/
commons-lang/
commons-logging/
dom4j/
io/
jakarta/
javax/
junit/
log4j/
logkit/
net/
org/
oro/
xml-apis/
mysql/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
